{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Delvian Valentine <https://delvianv.github.io>" />
    <meta name="description" content="Track your inventory quickly and effortlessly" />
    <meta name="keywords" content="inventory, stock" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="icon" href="{% static 'inv/icons/icon.png' %}" />
    <title>Yocto Inventory</title>
  </head>

  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
